[v-cloak]{display:none;}
body{background-color: #f0f5ff;width:100%;height:100%;margin: 0 auto;min-width:1200px;}
.app{padding:20px;margin: 0px auto;box-shadow: 0 0 10px 0 rgba(0,0,0,0.02);border-radius: 8px;}
/*面包屑导航*/
.breadcrumb > li + li:before {color: #0c0c0c;content: ">";padding: 0 5px;}
.breadcrumb{margin-bottom:0px;padding:0px 0 10px 0px;background-color:#f0f5ff;}
/*点击进行跳转a标签的样式*/
.active:link{text-decoration:none;color: #0096FF;font-family: PingFangSC-Regular;font-size: 14px;}
.active:visited{text-decoration:none;color: #0096FF;font-family: PingFangSC-Regular;font-size: 14px;}
.active:active{text-decoration:none;color: #0096FF;font-family: PingFangSC-Regular;font-size: 14px;}
.active:hover{text-decoration:none;color: #0096FF;font-family: PingFangSC-Regular;font-size: 14px;}
/*不跳转的a标签样式*/
.inActive:link{text-decoration:none;font-family: PingFangSC-Regular;font-size: 14px;color: #4A4A4A;}
.inActive:visited{text-decoration:none;font-family: PingFangSC-Regular;font-size: 14px;color: #4A4A4A;}
.inActive:active{text-decoration:none;font-family: PingFangSC-Regular;font-size: 14px;color: #4A4A4A;}
.inActive:hover{text-decoration:none;font-family: PingFangSC-Regular;font-size: 14px;color: #4A4A4A;}
main{display:flex;justify-content:space-between;}
/*左边部分*/
main .part1{width:29.5%;min-width:400px;margin-right:10px;background: #FFFFFF;box-shadow: 0 1px 6px 0 rgba(59,61,62,0.03);border-radius: 6px;padding:20px;min-height:calc(100vh - 70px);}
main .part1 .header{display:flex;align-items:center;}
main .part1 .header .left>img{width:46px;height:46px;}
main .part1 .header .right{margin-left:15px;width:calc(100% - 66px);}
main .part1 .header .right .div1>div h2{font-family: PingFangSC-Semibold;font-size: 18px;color: #4A4A4A;}
main .part1 .header .right .div1>div span{font-family: PingFangSC-Regular;font-size: 14px;color: #4A4A4A;display:inline-block;margin:0 18px 0 7px;}
main .part1 .header .right .div1>div p{font-family: PingFangSC-Regular;font-size: 14px;color: #4A4A4A;}
main .part1 .header .right .div1 .status{font-family: PingFangSC-Regular;font-size: 12px;border-radius: 2px;padding:2px 10px;}
/*审核通过*/
.pass{color: #37B864;background: #E8F7ED;}
/*未审核*/
.noPass{color: #4D4D4D;background: #E9E9E9;}
/*审核失败*/
.passFail{color: #F5222D;background: #FFCCC7;}
main .part1 .header .right .div1{display:flex;align-items:center;justify-content:space-between;}
main .part1 .header .right .div2{display:flex;align-items:center;padding-top:7px;}
main .part1 .header .right .div2>div:first-child{background: #84A5FF;border-radius: 9px;font-family: PingFangSC-Regular;font-size: 12px;color: #FFFFFF;padding:0 5px;margin-right:5px;}
main .part1 .header .right .div2>div:last-child{background: #B37FEB;border-radius: 9px;font-family: PingFangSC-Regular;font-size: 12px;color: #fff;padding:0 5px;}
main .part1 .userInfo{margin-top:25px;width:100%;display:flex;flex-wrap:wrap;justify-content:space-between;align-items:center;}
main .part1 .userInfo>.div1{width:48%;}
main .part1 .userInfo>div span{font-family: PingFangSC-Medium;font-size: 13px;color: #767676;display:inline-block;margin-right:13px;}
main .part1 .userInfo>div{font-size: 13px;color: #1A1A1A;margin-bottom:15px;}
main .part1 .userInfo>div p{font-family: PingFangSC-Regular;font-size: 14px;color: #1A1A1A;line-height:22px;letter-spacing:0.7px;}
main .part1 .cards{width:100%;display:flex;justify-content:space-between;}
main .part1 .cards>div{width:32%;}
main .part1 .cards>div p{font-family: PingFangSC-Medium;font-size: 13px;color: #767676;margin-bottom:10px;}
main .part1 .cards>div div{width:100%;margin:10px 0 15px 0;}
main .part1 .cards>div div>img{width:100%;height:100px;}
main .part1 .count{width:100%;background: #F2FAFF; border-radius: 4px;padding:18px 20px;}
main .part1 .count .title{display:flex;justify-content:space-between;}
main .part1 .count .title div{font-family: PingFangSC-Regular;font-size: 14px;color: #000000;width:50%;}
main .part1 .count .title div span{font-family: PingFangSC-Medium;font-size: 13px;color: #767676;display:inline-block;margin-right:19px;}
main .part1 .count .disease{display:flex;align-items:center;justify-content:space-between;margin-top:30px;}
main .part1 .count .disease>div p{font-family: PingFangSC-Medium;font-size: 13px;color: #767676;margin-bottom:10px;}
main .part1 .count .disease>div div span{font-size: 24px;color: #1A1A1A;}
main .part1 .count .disease>div div{font-size: 14px;color: #000;}
/*右边部分*/
main .part2{min-width:790px;width:69.5%;background: #FFFFFF;box-shadow: 0 1px 6px 0 rgba(59,61,62,0.03);border-radius: 6px;padding:15px;min-height:calc(100vh - 70px);}
main .part2 h2{font-family: PingFangSC-Semibold;font-size: 15px;color: #4A4A4A;margin-bottom:15px;}
.table-bordered>thead>tr>th{border:none;}
main .part2 .dw{margin:275px auto;}
main .part2 .dw>div{text-align:center;}
main .part2 .dw>div img{width:150px;}
main .part2 .dw>div p{font-family: PingFangSC-Medium;font-size: 12px;color: #A2A2A2;margin-top:11px;}
/*点击查看弹框*/
/*水平垂直居中*/
.modal-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    margin:0 auto;
    -webkit-transform: translate(-50%, -50%) !important;
    -moz-transform: translate(-50%, -50%) !important;
    -ms-transform: translate(-50%, -50%) !important;
    -o-transform: translate(-50%, -50%) !important;
    transform: translate(-50%, -50%) !important;
}
.modal-header{border-bottom:none;}
.previewCards .modal-dialog{width:357px !important;}
.previewCards  .row{display:flex;justify-content:center;margin-bottom:22px;}
.previewCards  .info2{width:287px;height:340px;background: #EDEDED;margin:0 auto;margin-bottom:15px;}
.previewCards  .info2>img{width:100%;height:100%;}

/*认证审核弹框*/
#approveCheck .modal-dialog{width:357px !important;margin:0 auto;}
#approveCheck .modal-body{width:287px;margin:0 auto;}
#approveCheck  .row{display:flex;justify-content:center;margin-bottom:22px;}
#approveCheck  .box{width:100%;display:flex;flex-wrap:wrap;align-items:center;justify-content:space-between;margin-bottom:25px;}
#approveCheck .box>div{width:48%;margin-bottom:15px;}
#approveCheck .box>div span{font-family: PingFangSC-Regular;font-size: 15px;color: #4A4A4A;display:inline-block;margin-left:5px;}



/*
查看样式*/
.check:link{text-decoration:none;font-family: PingFangSC-Regular;font-size: 14px;color: #0096FF;}
.check:visited{text-decoration:none;font-family: PingFangSC-Regular;font-size: 14px;color: #0096FF;}
.check:active{text-decoration:none;font-family: PingFangSC-Regular;font-size: 14px;color: #0096FF;}
.check:hover{text-decoration:none;font-family: PingFangSC-Regular;font-size: 14px;color: #0096FF;}
