[v-cloak]{display:none;}
#app{
    width:100%;
    height:100%;
    background:url(../../imgs/mapImages/screenBG.png) no-repeat;
    background-size:100% 100%;
    padding:30px;
}
.main{
    display:flex;flex-direction:column;
    justify-content:space-between;
    /*padding:20px 15px;*/
    /*background:#464646;*/
    height:100%;
    width:100%;

}
.main .top{
    background: rgba(31,31,31,0.6);
    border-radius: 16px;
    padding:20px 0;
    height:48%;
    width:100%;
}
.main .top h2{
    /*padding-top:24px;*/
    font-size: 30px;
    color: #FFFFFF;
    text-align:center;
}
.main .top .canvas{
    width:100%;
    height:100%;
    display:flex;
    justify-content:space-between;

}
.main .top .barEcharts{
   width:49%;
    height:100%;
}
.main .top .pieCanvas{
   width:49%;
    height:100%;
}
.main .bot{
    padding:20px 0;
    background: rgba(31,31,31,0.6);
    border-radius: 16px;
    width:100%;
    height:48%;
}
.main .bot .head{
    margin-bottom:30px;
    position:relative;
}
.main .top .head{
    /*padding-top:-50px;*/
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.main .head h2{
/*padding-top:50px;*/
text-align:center;
font-size: 24px;
color: #FFFFFF;
}
.main .head .right{
    position:absolute;
    top:0;
    right:30px;
display:flex;
align-items:center;
}
.main .head .right .div1{
    display:flex;
    align-items:center;
    padding:0 10px 0 5px;
}
.main .head .right p{
    margin-left:5px;
    font-size: 16px;
    color: #F3F3F3;
}
.main .head .right .div1 .span1{
    background: #0096FF;
    display:inline-block;
    width:20px;
    height:8px;
}
.main .head .right .div1 .span2{
    padding-right:5px;
    background: #FB5D5D;
    display:inline-block;
    width:20px;
    height:8px;
}
/*.main .bot h2{*/
    /*padding-top:50px;*/
    /*text-align:center;*/
    /*font-size: 30px;*/
    /*color: #FFFFFF;*/
/*}*/
.main .bot .chart{
    display:flex;
    justify-content:space-between;
    width:100%;
    height:85%;
}
.main .bot .chart .lineChart{
    border-right:1px solid #4A4A4A;
    width:33.3%;
    height:100%;
}
.main .bot .chart .lineChart1{
    border-right:none;
}